<ion-header>
  <ion-navbar no-border-bottom>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>

    <ion-segment [(ngModel)]="segment" (ionChange)="toggleToFavorites()">
      <ion-segment-button value="all">
        All
      </ion-segment-button>
      <ion-segment-button value="favorites">
        Favorites
      </ion-segment-button>
    </ion-segment>

    <ion-buttons end>
      <button ion-button icon-only (click)="presentFilter()">
        <ion-icon ios="ios-options-outline" md="md-options"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

  <ion-toolbar no-border-top>
    <ion-searchbar color="primary"
                   [(ngModel)]="queryText"
                   (ionInput)="updateSchedule()"
                   placeholder="Search">
    </ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-list #scheduleList *ngIf="loaded && schedule.length">

    <ng-container *ngFor="let group of schedule">
      <ion-item-group *ngIf="showOnlyFavorites ? checkIfSessionHasFavorites(group) : true">

        <ion-item-divider sticky>
          <ion-label>
            {{ group.time | date:'HH:mm'}}
          </ion-label>
        </ion-item-divider>

        <ng-container *ngFor="let session of group.session">
          <ion-item  *ngIf="showOnlyFavorites ? session.isFavorite : true">

            <button ion-item (click)="goToSessionDetail(session)">
              <h3 text-wrap>{{ session.title }}</h3>
              <p>
                {{ session.start_date | date:'HH:mm' }} &mdash;
                {{ session.end_date | date:'HH:mm' }}
                {{ session.location  }}
              </p>
            </button>
            <ion-icon [name]="session.isFavorite ? 'star' : 'star-outline'" item-right [color]="session.isFavorite ? 'yellowCampus' : 'dark'" (click)="setFavorite(session)"></ion-icon>
          </ion-item>
        </ng-container>

      </ion-item-group>
    </ng-container>

  </ion-list>

  <ion-list-header *ngIf="loaded && !schedule.length">
      No Sessions Found
  </ion-list-header>

  <ion-fab bottom right #fab>
    <button ion-fab><ion-icon name="share"></ion-icon></button>
    <ion-fab-list side="top">
      <button ion-fab color="vimeo" (click)="openSocial('Vimeo', fab)"><ion-icon name="logo-vimeo"></ion-icon></button>
      <button ion-fab color="google" (click)="openSocial('Google+', fab)"><ion-icon name="logo-googleplus"></ion-icon></button>
      <button ion-fab color="twitter" (click)="openSocial('Twitter', fab)"><ion-icon name="logo-twitter"></ion-icon></button>
      <button ion-fab color="facebook" (click)="openSocial('Facebook', fab)"><ion-icon name="logo-facebook"></ion-icon></button>
    </ion-fab-list>
  </ion-fab>


</ion-content>
